# Basic info that should be at the beginning of  every jupyter notebook
* John Horel
* ATMOS 5040/ Spring 2019
* January 16 inclass assignment
* Requires alta_snow.csv

**January 16 2019**  
**ATMOS 5040: Environmental Statistics**  
**John Horel **

Download this notebook and all images and data by downloading the ZIP file from GitHub, or use the git command:

    git clone https://github.com/johnhorel/ATMOS_5040_2019.git
    
> Note: Windows users will have to install [git for Windows](https://gitforwindows.org/) and execute the git command from the PowerShell.

# Using Julia modules

`DelimitedFiles` is a _standard library_ module that handles csv/tsv file formats  
`Statistics` is a standard library module with some basic statistics functions  
`PyPlot` is a _binding_ of Python's matplotlib

In [1]:
using DelimitedFiles
using Statistics

using PyPlot

---

# January 16, 2019 Inclass assignment

# Long-term variations in Alta snowfall

For info on the data
http://utahavalanchecenter.org/alta-monthly-snowfall

On GitHub, look in the `data` folder for a file called `alta_snow.csv` and download it. 

Open the `alta_snow.csv` file in the Jupyter Lab environment to see the column contents and the units.

-column 1 is the year and column 8 is the seasonal total

In [2]:
#read the lake level data
data = readdlm("../data/alta_snow.csv", ',')
year = convert.(Int, data[:, 1])
#convert seasonal totals from inches to cm
tot = 2.54 .* data[:, 8];

In [3]:
println(year)
println(tot)

[1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
[1145.54, 949.96, 1394.46, 1328.42, 1211.58, 886.46, 1628.14, 1043.94, 972.82, 1198.88, 1168.4, 980.44, 1421.13, 980.44, 1004.57, 828.04, 1019.81, 1018.54, 1437.64, 1455.42, 1099.82, 1381.76, 1217.93, 1437.89, 1165.86, 1223.01, 1185.16, 1261.11, 1512.82, 1536.7, 1116.33, 798.83, 1332.23, 1493.52, 1305.56, 993.14, 1767.84, 1617.98, 1888.49, 1160.78, 1521.46, 969.772, 1042.16, 1477.01, 1137.92, 1473.71, 1003.3, 1652.02, 1245.36, 1893.32, 1427.48, 1521.71, 1460.25, 1164.34, 1132.84, 1193.04, 1441.96, 1014.48, 1449.83, 1406.14, 1609.09, 904.24, 1661.16, 1468.12, 1092.2, 1404.62, 836.93, 971.55, 908.05, 679.45, 998.22, 1347.47, 731.52]

# Do some basic calcs on the Alta snowfall data

In [4]:
# determine the number of years
ny = length(year)
println("number of years= ", ny)
#compute the mean of seasonal totals
mmn = mean(tot)
println("mean seasonal total= $mmn cm")
#find the max seasonal value and the year of that max
maxs = maximum(tot)
mxi = argmax(tot)
println("year of max seasonal total and amount: $(year[mxi]) $maxs cm")
#find the min seasonal value and the year of that min
mins = minimum(tot)
mni = argmin(tot)
println("year of min seasonal total and amount: $(year[mni]) $mins cm")

number of years= 73
mean seasonal total= 1244.0015342465751 cm
year of max seasonal total and amount: 1995 1893.316 cm
year of min seasonal total and amount: 2015 679.45 cm

# Figure 2.1

Create bar plot time series of Alta seasonal snowfall totals

In [ ]:
ticks = collect(1950:5:2019)
fig, ax1 = subplots(1, 1, figsize=(10, 5))
bar(year, tot, color="green")
xlim(1946, 2018)
xlabel("Year")
ylim(500, 2000)
ylabel("Snow Total (cm)")
xticks(ticks)
title("Alta water year snow total (cm) John Horel 1/13/2019")
grid(linestyle="--", color="grey", linewidth=.2)

savefig("alta_anow_inclass_2019_julia.png")